.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .dice {
    width: 100px;
    height: 100px;
    background-color: #87CEFA;
    border: 2px solid #96108f;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
    user-select: none;
  }
  
  button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #d03d3d;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
  }